* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.main-card {
  height: 100vh;
  width: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.header {
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 0.5rem;
  font-size: 3rem;
  font-family: 'Akronim', cursive;
  color: dimgrey;
  background-color: lightsalmon;
  margin-bottom: 80px;
}

.sub-card-one {
  height: 8vh;
  width: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 4px;
}

.name {
  font-weight: bold;
  margin-left: -5rem;
}

.btn-plus {
  width: 40px;
  align-self: center;
  margin-right: -5rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.count {
  width: 40px;
  margin-right: -15rem;
  align-self: center;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
